  /*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header section styles starts*/

.top-bar {
    width: 100%;
    z-index: 999; 
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: -30px;
}
.top-bar >a> img{
    margin-left: 50%;
    width: 8%;

}
.first-button{
    display: flex;
    width: 12%;
    margin-left:3%;
    margin-top: 0px;
    height: 38px;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.first-button>img{
margin-top: 6px;
margin-left:25px;
align-items: center;
display:inline-block;
}

.first-button>p{
font-size: 12px;
margin-top:10.5px;
font-weight: bold;
margin-left:5%;
font-family: sans-serif;
}

#main-header-inner{
display: flex;
z-index: 100;
background-color:white;
width:100%;
}

#main-header-inner>a{
margin-left: 1em;    
text-decoration: none;
}
.input-group{
width: 60%;
}
.search-image{
display:inline-block;
margin-left:-5em;
width: 2.5%;
height: 25px;
margin-top: 5px;
}
.input-tag{
margin-left:1.5%;
width:96%;
height: 37px;
border: 1px solid rgba(128, 128, 128, 0.432);
}
#second-button{
margin-left:7%;
width:105px;
border:none;
display: flex;
background-color:white;

}
#second-button>img{
display:wrap;
margin-left:1%;
margin-top:5px;
height: 20px;
align-items:center;
}

#second-button>p{
font-size: smaller;
line-height:1.4rem;
display:inline block;
color:#000;
font-style:sans-serif;
width:69px;
margin-top: 2px;
margin-left: 2px;
text-align:left;
}

/*Index section styles starts */

#mainLogo img {
    height: 4.8vh;
    width: 4.8vw;
    align-content: center;
    display:flex;
    border-bottom: 0em;
    
}
.toggle .li{
    display: inline-block;
    height:40%;
    width:40%;
    align-items: flex-end;
}
#container {
    display: grid;
    grid-template-columns: 8.4fr 4fr;
    grid-gap: 20px;
    width: 96%;
    margin: auto;
}

#container img {
    border-radius: 6px;
}

.img1 img {
    width: 100%;
}

.box2 {
    display: grid;
    gap: 24px;
}

/*.img2 img, .img3 img {
    width: 100%;
    color:#000;
}
*/
.w_90 {
    width: 96%;
    margin: auto; 
}

.slide-button {
    width: 3%;
    background-color: lightgray;
    border: 2px lightgrey;
    border-radius: 7px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
}

.previous1 {
    margin-left: -2%;
}

.previous2 {
    margin-right: -2%;
}

.grid {
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    font-weight: 700;
}

.grid div img {
    z-index: -1;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 1.0s;
}

.grid img:hover {
    transform: scale(1.1);
}

.grid div {
    overflow: hidden;
    border: 2px solid white;
}

.button {
    background-color: black;
    padding: 10px 5px;
}

.red {
    width: 150px;
    height: 5px;
    background-color: rgb(233, 57, 57);
    margin: 20px auto;
    border-radius: 20%;
}

.center {
    text-align: center;
}

.gap>div {
    margin: 30px auto;
}

.bold1 {
    margin-top: 20px;
    font-weight: bold;
    font-size:1.2em;
    background-color: white;
}

.click p:hover {
    color: red;
}
.click{
    cursor: pointer;
}
/* Footer section styles */

.before-footer{
    width: 100%;
    height:20px;
    background-color:rgba(172, 255, 47, 0.082);
    margin-top:1%;
    
}
.footer-first{
    padding:1%;
    margin-bottom:30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.footer-first>h4{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    
}
.footer-first>p,pre{
    font-size: 12px;
    font-family: sans-serif;
    line-height:17px;
    color:rgba(0, 0, 0, 0.74);
}
.footer-first>h5{
    font-size: 14.25px;
    font-family: sans-serif;
    color:rgba(0,0,0,0.74);
}
.footer-first>pre>span{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}
.span1{
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none;
    color:rgba(38, 0, 255, 0.692);
}
.footer-flex{
    display:grid;
    grid-template-columns: repeat(4,23%);
    grid-gap: 2%;
    margin-top: 50px;
}
.footer-flex>div{
    align-items: center;
    width: 100%;
    margin: auto;
}
.footer-flex>div>img{
    margin-left: 49%;
    width: 6%;
    height: 20px;
}
.p1{
    text-align: center;
    color:rgba(0, 0, 0, 0.39);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;  
}
.p2{
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    color:rgba(34, 34, 34, 0.671);
}
.p2>span{
    font-size: 11px;
    font-family: sans-serif;
    color:orangered;
}
.footer-second{
    padding:1%;
    width: 96%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer-second>h5{
    font-family: sans-serif;
    font-size: 13.5px;
    font-family: sans-serif;
}
.footer-second > p{
    font-size: 12.05px;
    font-family: sans-serif;
    line-height: 17px;
    color:rgba(0, 0, 0, 0.664);
}
.footer-second >p >span{
    font-size: 12px;
    font-weight: normal;
    color:orangered;
    font-family: sans-serif;
}
#sp{
    font-size: 12px;
    font-weight: bold;
    color:orangered;
    font-family: sans-serif;
}
.one-line{
    margin-top:0.5%;
    width: 99.5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:0.1px;
    height: 15px;
}
.one-line>p{
    margin: 2px auto auto auto;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 17px;
    color:rgba(0, 0, 0, 0.664);
}

.footer-inner{
    display: flex;
    width: 100%;
    margin-top:1.5%;
    background-color:rgba(245, 216, 179, 0.226);
    height: 50px;
}
.footer-inner-div{
    display:flex;
    margin-top: 0.25%;
    font-size: 12px;
    width:80%;
    padding:0.1px;
    color:orangered;
    font-family: sans-serif;
}
.footer-inner-div>p{
    margin-left:1.0%;
    margin-top:1.5%;
}
.footer-inner-div2{
    margin-top:1%;
    display:flex;
}
.footer-inner-div2>img{
    margin-left: 5%;
    height: 30px;
}

.footer-almost-end{
    display: flex;
    width: auto;
    height:auto;
    margin-top:1%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 2px 0px
}

.footer-almost-end>img{
    margin-left:2%;
    border-color: white;
}
.footer-almost-end>div{

    display: flex;
    margin-left:65%;
}
.footer-almost-end>div>button{
    background-color:white;
    border: 1px solid rgba(255,255, 255, 0.11);
    height: 40px;
    width: 120px;
    margin-left:2%;
    margin-top:2%;
}
.footer-almost-end>div>button>p{
    margin-top: -6px;
    font-size: 10px;
}
.footer-almost-end>div>button>div{
    display: flex;
    margin-top: -1%;
}
.footer-almost-end>div>button>div>img{
    width: 40px;
    height: 30px;
    border-color: 1px solid rgba(255, 255, 255,0.1);
    background-color:white;
}
.footer-almost-end>div>button>div>p{
    font-size: 10px;
    margin-left: 0px;
}
#footer-end>p{
    font-family: sans-serif;
    font-weight:600;
    font-size: 15px;
    letter-spacing:.5px;
    margin-left: 1%;
    
}
#footer-end>div{
    margin-left: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}
#footer-end>div>select{
    width: 60%;
    margin-top: 7%;
    border: none;
}
#footer-end>div>select>option>p{
    font-family: sans-serif;
    padding:1.2 em;
    font-size: 1.2 rem;
}

/*responsive stles starts */

@media screen and (max-width:700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:300px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        font-size: 1em;
    }
}